[run]
omit =
    # omit all tests
    **/tests/*
    **/libs/config/*
    **/libs/common/*

[report]
exclude_lines =
    pragma: not covered
    # don't report on not covering function overload definitions
    @overload
